.description
	{
	margin-bottom: 0px;
  font-family:Arial, 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 15px;
 font-style: normal;
 font-variant: normal;
 font-weight: 500;
 line-height: 26.4px;
 	}